<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="node">Node</a>
    <a href="express">Express</a>
    <a href="https://linktr.ee/pabloo11._">Mi Linktree</a>
    
    </div>
    <header>
      <img src="https://midu.dev/images/tags/node.png" alt="Node.js Logo" />
      <h1>Node.js</h1>
  </header>

    <div class="node">
      <section>
          <h2>¿Qué es Node.js?</h2>
          <p>
              Node.js es un entorno de ejecución para JavaScript construido con el motor de JavaScript V8 de Chrome. 
              Permite a los desarrolladores crear aplicaciones de servidor rápidas y escalables usando JavaScript, un 
              lenguaje con el que muchos ya están familiarizados debido a su uso en desarrollo web front-end.
          </p>
      </section>
      
      <section>
          <h2>Funcionalidades Principales</h2>
          <ul>
              <li>Asíncrono y Orientado a Eventos: Todas las API de Node.js son asíncronas, y se basan en un modelo de 
              eventos para facilitar operaciones no bloqueantes.</li>
              <li>Alto rendimiento: El código JavaScript ejecutado en Node.js puede ser muy eficiente gracias al motor V8 y a las optimizaciones para operaciones de E/S.</li>
              <li>Sencillez: Brinda la posibilidad de escribir código tanto para el cliente como para el servidor en un mismo lenguaje, 
              lo que puede hacer la vida más fácil a los desarrolladores.</li>
              <li>NPM: Node.js viene con un gestor de paquetes incorporado llamado npm, el cual es extenso y contiene una gran cantidad de paquetes disponibles para extender las funcionalidades de tus aplicaciones.</li>
          </ul>
      </section>
  </div>

  <header>
    <img src="https://expressjs.com/images/express-facebook-share.png" alt="Express.js Logo">
    <h1>Express.js</h1>
</header>

<main>
    <section>
        <h2>¿Qué es Express.js?</h2>
        <p>
            Express.js es un framework web de back-end para Node.js, lanzado como software libre y de código abierto bajo la Licencia MIT. 
            Está diseñado para construir aplicaciones web y API de manera rápida y sencilla.
        </p>
    </section>
    
    <section>
        <h2>Funcionalidades de Express.js</h2>
        <ul>
            <li>Fácil enrutamiento de peticiones HTTP.</li>
            <li>Middlewares que permiten extender funcionalidades</li>
            <li>Renderizado de vistas con motores de plantilla diversas.</li>
            <li>Facilita la configuración de cabeceras y respuesta a solicitudes HTTP.</li>
            <li>Soporte para la gestión de errores.</li>
        </ul>
    </section>
</main>

<footer>
    <p>&copy; 2023 Descubre Node y Express.js</p>
</footer>
    
</body>
</html>